/.gitignore export-ignore
/.laminas-ci.json export-ignore
/composer-require-checker.json export-ignore
/infection.json.dist export-ignore
/phpcs.xml.dist export-ignore
/.gitattributes export-ignore
/phpunit.xml.dist export-ignore
/psalm.xml export-ignore
/psalm-baseline.xml export-ignore
/mkdocs.yml export-ignore
/.github/ export-ignore
/docs/ export-ignore
/test/ export-ignore
