{
    "source": {
        "directories": [
            "src"
        ]
    },
    "logs": {
        "text": "php://stderr",
        "github": true
    },
    "mutators": {
        "@default": true
    }
}
